* {box-sizing: border-box;}

.navcontent{
    display: flex;
    justify-content: space-between;
}
.navitemfirst{
    flex: 1 0 0;
}
div.navitemfirst > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.navitemlast > div.foot{
    text-align: center;
}
div.navitemlast > div.foot > img{
    margin: 2px;
}
div.navitemlast.head > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navitemlast{
    flex: 2 0 0;
}
.navitemmiddle{
    flex: 3 0 0;
}
div.navitemmiddle > nav.black > a{
    color: #000;
    text-decoration: none;
    padding: 25px;
    font-weight: bold;
    font-size: large;
    margin: 5px;

}
div.navitemmiddle > nav.white > a{
    color: #fff;
    text-decoration: none;
    padding: 25px;
    margin: 5px;
    font-weight: bold;
    font-size: large;
}
.footer{
    background-color: grey;
    padding: 30px;
}
.header{
    padding: 30px;
}
.secondaryfooter{
    text-align: center;
    color: #383838;
    padding: 10px;

}
.banner1{
    background-image: url("JS_Data/images/banner1.png");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bannertext{
    text-align: left;
    position: absolute;
    top: 20%;
    color: #fff;
    margin-left: 175px;
}
.bannertext h1{
    font-size: 65px;
}

.bannertext div{
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 15px 50px;
    text-align: center;
    display:inline-block;
}
div.sildeshowcontent > a.prev , div.sildeshowcontent > a.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    transition: 0.6s ease;
    user-select: none;
}
div.sildeshowcontent > a.next {
    right: 0;
}

.plansilder{
    display: flex;
    padding: 50px 0px;
}
.planhead{
    flex: 2 0 0;
    text-align: center;
    padding-top: 100px;
}
.plantail{
    flex: 1 0 0;
    margin: 5px 10px;
}

.plantail h1,.plantail p{
    margin: 10px 0px;
    padding: 0px;
}

.plansilder a.next-plansilder{
    position: absolute;
    right: 0;
    width: auto;
    margin-top: 100px;
    margin-right: 50px;
}

.planhead > span{
    border: 2px solid rgb(24, 139, 177);
    border-radius: 5px;
    padding: 15px 50px;
    text-align: center;
    display:inline-block;
}

.planhead > span > a{
    text-decoration: none;
    color: #000;
}
.peoplemain{
    background-color: rgb(245, 245, 245);
    text-align: center;
}
.peoplemain > h1{
    padding-top: 50px;
}
.peopleslider{
    display: flex;
    padding: 100px 0px;
}
.peopletext{
    padding: 50px;
    background-color: #fff;
    text-align: justify;
    width: 60%;
}
.peopletext > span{
    color: grey;
}
.peopletext > p{
    font-size: 20px;
}

.peopleslider > img{
    position: absolute;
    right: 0;
    padding-bottom: 3000px;
    margin-right: 250px;
}


/* --- dev purpose ---*/
.bdred{border: 2px solid red;}
.bdblack{border: 2px solid black;}
.bdyellow{border: 2px solid violet;}
